* {
    --darkblue: linear-gradient(90deg,rgba(170, 223, 230, 0.842),rgba(92, 167, 202, 0.87),rgba(105, 162, 216, 0.979),rgba(88, 158, 204, 0.842),rgba(192, 234, 241, 0.877)); 
}
/* HTML element tag */
main {
    margin: 0px 0px;
    padding-top: 10px;
}
p {
    text-align: center;
}
/* Costume class below this line */
.main-nav {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    background-image: var(--darkblue);
}
.vav-item {
    color: white;
}
.background {
    color: rgb(6, 60, 141);
    background: url(img/blue-cloud.jpg);
    height: 1000px;
}
.big-bold {
    font-size: 100px;
    font-weight: bolder;
}
.center-self {
    text-align: center;
}
.welcome {
    color: azure;
    animation-name: welcomeElement;
    animation-duration: 5s;
    animation-iteration-count: 1;
    width: auto;
    
}
.current-time {
    color: azure;
    font-size: 25px;
    animation-name: current;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.connect-background {
    background-image: linear-gradient(90deg, rgb(94, 175, 207), lightblue,rgb(31, 177, 235),lightblue,rgb(148, 207, 235));
    height: 900px;
}
.box-shadow {
    box-shadow: rgb(32, 156, 179) 15px 15px 10px;
}
.container-box {
    display: inline-flex;
    margin-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-evenly;
}
.box-body {
    display: flexbox;
    color: azure;
    border: lightblue 2px solid;
    margin: 20px 20px;
    width: fit-content;
    padding: 10px;
    padding-bottom: 15px;
}
.linkedin-header {
    color: rgb(28, 31, 31);
    margin-bottom: 15px;
    font-size: 60px;
}
.linkedin-in {
    color: white;
    background: rgb(0, 153, 255);
    padding: 0px 5px;
    border-radius: 10%;
    font-size: 60px;
}
.linkedin-link {
    margin: 5px 0px;
    padding: 5px 0px;
    color: rgb(28, 31, 31);
    font-size: 22px;
}
.github-logo {
    width: 100px;
}
.github-header {
    background: rgb(34, 40, 58);
}
.github-link {
    margin: 5px 0px;
    padding: 5px 0px;
    color: rgb(28, 31, 31);
    font-size: 25px;
}
.card {
    width: 50%;
    box-shadow: 15px 15px 20px 2px #087bda;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
.feature-projects {
    font-size: larger;
    background: lightblue;
}
.show {
    display: none;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.current-btn {
    color: white;
    border-color: #4ebbdd;
    width: 15%;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #60dcf58c;
    border-color: #0cb3d5c7;
}
.current-list-blue {
    background-color: #e4f7ff;
}
.background-project {
    background-image: url(https://wallpaper.dog/large/20372204.jpg);
    height: fit-content;
}
/* costume ID below this line */
#current-date-time {
    margin-bottom: 3%;
}
#current-input {
    animation-name: userinput;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
#temp-card {
    width: 16rem;
    margin-top: 2%;
    opacity: 100%;
    background-color: #eff9fd;
}
/* keyframe */
@keyframes welcomeElement{
    0% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 200px; opacity: 30%;}
    90% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 100px; opacity: 70%;}
    100% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 100px; opacity: 100%;}
}
@keyframes current{
    0% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 30px; opacity: 0%;}
    50% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 25px; opacity: 50%;}
    100% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 25px; opacity: 100%;}
}
@keyframes userinput{
    0% {left: 0px; right: 0px; top: 0px; bottom: 0px; opacity: 0%; }
    50% {left: 0px; right: 0px; top: 0px; bottom: 0px; opacity: 50%;}
    100% {left: 0px; right: 0px; top: 0px; bottom: 0px; opacity: 100%;}
}
/* application depend strongly on bootstrap. Uses script as second main to overwrite some content. */
@media screen and (max-width : 600px)  {
    .welcome {
        color: azure;
        animation-name: welcomeElement1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        width: auto;
        font-size: 60px;
    }
    @keyframes welcomeElement1{
        0% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 100px; opacity: 30%;}
        90% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 60px; opacity: 70%;}
        100% {left: 0px; right: 0px; top: 0px; bottom: 0px; font-size: 60px; opacity: 100%;}
    }
}